<div class="container <%= params[:controller] %>">
  <%= @user %>
<h1><%= @user.email %></h1>
  <div class="row">
    <h1>
        Dynamically blurring avatar images using Canvas.
        </h1>
  </div>



    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="card">
                <div class="avatar">
                    <%= image_tag "bag1.png" %>
                </div>
                <div class="content">
                    <p>Web Developer <br>
                       More description here</p>
                    <p><button type="button" class="btn btn-default">Contact</button></p>
                </div>
            </div>
        </div>

    </div>
</div>

 <ol class="rating" data-user-score="">
          <li>
            <!-- A note on using forms -->
            <!--
              I handled the click rating with Ajax requests, however we still want this to work without JS. Using forms allows for that.
              I used this with a Rails app. My /url/to/rate handles POST
              requests. For normal form submission it just redirects back
              to this page. Ajax requests return a JSON response with a success msg and the score given.
             -->








<form action="/posts" method="post" data-remote="true">





            <form method="post" action="/url/to/rate">
              <%= form_tag vote_path do %>
              <input type="hidden" name="score" value="1">
              <%= hidden_field_tag 'score', 1 %>
              <%= hidden_field_tag 'user_id', @user.id %>
              <button type="submit" class="entypo-star-empty" title="Give this a 1 star rating">1</button>
              <div><% submit_tag 'Save' %></div>
                <% end %>
            </form>
          </li>
          <li>

            <form method="post" action="/url/to/rate">
              <%= form_tag vote_path do %>
              <input type="hidden" name="score" value="2">
              <%= hidden_field_tag 'score', 2 %>
              <%= hidden_field_tag 'user_id', @user.id %>
              <button type="submit" class="entypo-star-empty" title="Give this a 2 star rating">2</button>
              <div><% submit_tag 'Save' %></div>
                <% end %>
            </form>
          </li>
          <li>
          <!--   <% form_tag %> -->

            <form method="post" action="/url/to/rate">
              <%= form_tag vote_path do %>
              <input type="hidden" name="score" value="3">
              <%= hidden_field_tag 'score', 3 %>
              <%= hidden_field_tag 'user_id', @user.id %>
              <button type="submit" class="entypo-star-empty" title="Give this a 3 star rating">3</button>
              <div><% submit_tag 'Save' %></div>
                <% end %>
            </form>
          </li>
          <li>



              <form method="post" action="/url/to/rate">
              <%= form_tag vote_path do %>
              <input type="hidden" name="score" value="4">
              <%= hidden_field_tag 'score', 4 %>
              <%= hidden_field_tag 'user_id', @user.id %>
              <button type="submit" class="entypo-star-empty" title="Give this a 4 star rating">4</button>
              <div><%  submit_tag 'Save' %></div>
                <% end %>
            </form>
          </li>
          <li>


            <form method="post" action="/url/to/rate">
              <%= form_tag vote_path do %>
              <input type="hidden" name="score" value="5">
              <%= hidden_field_tag 'score', 5 %>
              <%= hidden_field_tag 'user_id', @user.id %>
              <button type="submit" class="entypo-star-empty" title="Give this a 5 star rating">5</button>
              <div><% submit_tag 'Save' %></div>
                <% end %>
            </form>
          </li>
          <li>
        </ol>

