<header>
  <div class="navWrapper" id="home">
    <div class=" clearfix">
      <h2 class="companyName">Prestige</h2>
      <nav class="mainNav clearfix">
        <ul>

          <li><%= link_to "Home", root_path %></li>

          <li class="dropdown smoothScroll">

            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
            Profile <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <% if signed_in? %>
              <li class="menu-drop">
                <%= link_to profile_path do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
                <% end %>
              </li>
              <% end %>

              <li class="menu-drop">
                <%= link_to orders_path do %>
                <i class="fa fa-suitcase"></i>  <%= t ".profile", default: "Orders" %>
                <% end %>
              </li>
              <li class="menu-drop">
                <% if signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Sign out" %>
                <% end %>
                <% else %>
                <%= link_to "Log in", new_user_session_path %>
                <% end %>
              </li>
            </ul>
          </li>

          <li><%= link_to "Become a Renter", new_product_path, class: "smoothScroll" %>


          </li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>

        </ul>
      </nav>
    </div><!-- end .innerWrapper -->
  </div><!-- end of .navWrapper -->
</header>


