

 <div class="video">
  <iframe id="vimeo_player" class="vimeo"
 src="//player.vimeo.com/video/43934591?title=0&amp;byline=0&amp;portrait=0&amp;color=3a6774&amp;autoplay=1&amp;loop=1&amp;background=1"
 width="960" height="540" frameborder="0" webkitallowfullscreen
 mozallowfullscreen allowfullscreen></iframe>
 <div class="overlay">
   <div class="container">
    <div class="redbar"></div>
      <h1>Rent luxury goods from special owners</h1>
      <div>
        <small></small>
      </div>
      <div>
        <button class="btn btn-primary">RENT NOW !</button>
      </div>
    </div>
 </div>
</div>

<div class="bg-white">
  <div class="container">
    <div class="image-menu">
      <div class="row">

        <div class="col-xs-4 no-padding" >
          <div class="frontpage" style="background-image: url(<%= image_url('necklacesDark.png') %>)">
            <!-- your list of social links -->
            <%= link_to products_jewelry_url  do %>

            <h3 class="tumbheading">JEWELRY</h3>

            <% end %>
          </div>
        </div>


        <div class="col-xs-4 no-padding" >
          <div class="frontpage" style="background-image: url(<%= image_url('BagsDark.png') %>)" >
            <!-- your list of social links -->
            <%= link_to products_bags_path do %>

            <h3 class="tumbheading">BAGS</h3>


            <% end %>
          </div>
        </div>

        <div class="col-xs-4 no-padding" >
          <div class="frontpage" style="background-image: url(<%= image_url('watchesDark.png') %>)" >
            <!-- your list of social links -->
            <%= link_to products_watches_path  do %>

            <h3 class="tumbheading">WATCHES</h3>


            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>At Prestige, you can rent beautiful luxury goods from an unlimited selection of special owners willing to rent them out for a special occasion.</p>
                </div>
                <div class="col-lg-4">
                    <p>Do you have luxury goods? Why don't you rent them out and make some profits to buy new ones or to get extra cash? Become a renter on Prestige now!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">

                    </a>
                </div>
            </div>
        </div>
    </section>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Find us at</h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © LorenzVillain. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>
