  <div class="jumbotron jumbo-watches">
       <div class="container">
         <h1>Watches</h1>
         <p>Rent now ! </p>
       </div>
     </div>


<div class="container-fluid">


  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4 card-prod">
      <div class="thumbnail-content">
        <% if product.picture_path %>
        <%= image_tag product.picture_path %>
        <% else %>
        <%= image_tag "http://lorempixel.com/1125/660/fashion/1/" %>
        <% end %>
        <p class="price">$ <%=product.price %></p>
      </div>
      <div class= "user-content">
        <div class="user-image">
          <%= image_tag "user1.jpg", class:"img-circle" %>
        </div>
        <div class="user-reviews">
            <div class="starrr" data-rating='4'></div>
        </div>

      </div>


      <div class="body-content">
        <h3><%= product.title %></h3>

        <p><%=product.brand %></p>

          <%= link_to "RENT", product_path(product), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Find us at</h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © LorenzVillain. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

