

<div class="container-fluid" id="fullscreen">


  <div class="bg-white">
    <div class="container body">
      <div class="row">
        <div class="col-sm-6">
          <div class="social-box">

            <h1><%= @product.title %></h1>
            <div class="image-product">
              <%= image_tag @product.picture_path, class:"img-responsive" %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="block-info">
            <h4>  <%= @product.brand %> </h4>
            <h2>  <%= @product.description %></h2>

            <h3>  <%= @product.price %> € </h3>


            <%= form_for @order do |f| %>
            <p>Delivery date:</p>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <p>Return date:</p>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker7'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <div class="theorder">
            <div class="order">
              <%= f.hidden_field :product_id, :value => @product.id%>
              <%= f.submit "Order", class: "btn btn-primary pull-right" %>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="profile">
            <div class="profile-header">
              <div class="profile-image">
                  <%= image_tag "user1.jpg", class:"img-circle" %>
                </div>
                <div class="profile-username">
                  <h4>Teddy Java</h4>
                  <div class="starrr" data-rating='4'></div>
                </div>
              </div>
            <div class="profile-body">
              <p>28,graduated computer science, working as a freelancer web developer lives in Brussels Belgium</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Find us at</h3>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © LorenzVillain. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
