



<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <H1>Product Details</H1>
        <div class="social-box">

          <h2><%= @product.title %></h2>
          <%= image_tag @product.picture_path %>
          <p>  <%= @product.description %></p>
          <p>  <%= @product.brand %> </p>
          <p>  <%= @product.price %> € </p>
          <br>
          <%= link_to "to the product", product_path(@product), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-8">
        <p><%= @product.brand %></p>
      </div>
    </div>
  </div>
</div>


<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <div class="social-box">

          <%= form_for @order do |f| %>
          Delivery date:    <%= f.date_select :delivery_date %>
          </br>
          Return date:   <%= f.date_select :return_date %>
          </br>
          <%= f.hidden_field :product_id, :value => @product.id%>
          <%= f.submit %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-8">
        <p><%= @product.brand %></p>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>


<ol class="progress-tracker">
  <li class="step active"><span class="step-name">Login</span></li>
  <li class="step"><span class="step-name">Confirm order</span></li>
  <li class="step"><span class="step-name">Payment</span></li>
</ol>



